*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    width: 55px;
    height: 55px;
}
body {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(63,6,195,1) 100%);
    padding: 0.5rem;
}
ul a {
    color: white;
    text-decoration: none;
}
ul {
    list-style: none;
    display: flex;
    gap: 10px;
}



