body {
    background-color: black;
    color: white;
}

.menu{ 
    color: white;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.cajamenu {
    background-color: rgb(255, 0, 128);
}