*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blueviolet;
    padding: 1rem;
}
ul a {
    color: white;
    text-decoration: none;
}
ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

